In [1]:
import os
import pandas
import numpy as np

In [2]:
df = pandas.DataFrame( [[2,4,6], [10, 20, 30]] )
print(df)

    0   1   2
0   2   4   6
1  10  20  30

In [3]:
df = pandas.DataFrame( [[2,4,6], [10, 20, 30]], columns=["A", "B", "C"], index=["First", "Second"])
print(df)

         A   B   C
First    2   4   6
Second  10  20  30

In [4]:
print(df.mean())

A     6.0
B    12.0
C    18.0
dtype: float64

In [5]:
print(df.T)

   First  Second
A      2      10
B      4      20
C      6      30

In [6]:
os.listdir()

['.ipynb_checkpoints',
 'data',
 'Manipulating Dataframe.ipynb',
 'Retrieve Dataframe.ipynb']

There are lots of read file functions. Like read csvm json, txt etc...

In [7]:
df = pandas.read_csv("./data/supermarkets.csv", index_col ="ID")
print(df)

            Address           City             State Country         Name  \
ID
1      3666 21st St  San Francisco          CA 94114     USA      Madeira
2    735 Dolores St  San Francisco          CA 94119     USA  Bready Shop
3       332 Hill St  San Francisco  California 94114     USA  Super River
4      3995 23rd St  San Francisco          CA 94114     USA   Ben's Shop
5   1056 Sanchez St  San Francisco        California     USA      Sanchez
6   551 Alvarado St  San Francisco          CA 94114     USA   Richvalley

    Employees
ID
1           8
2          15
3          25
4          10
5          12
6          20

You can even read a csv from website

In [10]:
df_web = pandas.read_json("http://pythonhow.com/supermarkets.json")
print(df_web)

           Address           City Country  Employees  ID         Name  \
0     3666 21st St  San Francisco     USA          8   1      Madeira
1   735 Dolores St  San Francisco     USA         15   2  Bready Shop
2      332 Hill St  San Francisco     USA         25   3  Super River
3     3995 23rd St  San Francisco     USA         10   4   Ben's Shop
4  1056 Sanchez St  San Francisco     USA         12   5      Sanchez
5  551 Alvarado St  San Francisco     USA         20   6   Richvalley

              State
0          CA 94114
1          CA 94119
2  California 94114
3          CA 94114
4        California
5          CA 94114

Label based indexing:
Purely label-location based indexer for selection by label.

In [11]:
df_web.loc["2":"5", "Country":"ID"]

  Country  Employees  ID
2     USA         25   3
3     USA         10   4
4     USA         12   5
5     USA         20   6

In [12]:
list(df_web.loc[:, "Name"])

['Madeira',
 'Bready Shop',
 'Super River',
 "Ben's Shop",
 'Sanchez',
 'Richvalley']

Position based indexing:
Purely integer-location based indexing for selection by position.

In [13]:
df_web.iloc[2:3,:]

,Address,City,Country,Employees,ID,Name,State
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114

**ix: Combine loc and iloc, which means [index, Label]**

In [14]:
df_web.ix[0, "Name"]

'Madeira'